.toolbarWrapper {
  padding: 0 1rem;
  background-color: #f8f9fa;
  padding: 12px 16px;
  border-radius: 2rem;
}

.iconContainerWrapper {
  display: flex;
  justify-content: space-between;
}

.iconContainer > button {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.iconButton {
  transition: background-color 0.3s ease-in-out, transform 0.1s ease-in-out;
}

.iconButton:hover:not(:disabled) {
  background-color: #e9ecef;
  border-color: #adb5bd;
}

.iconButton:active:not(:disabled) {
  transform: scale(0.9);
}
